*{
    
    padding: 0;
}



.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* banner section start */
.header-section{
    background-image: url("./assets/Hero-bg.png");
    width: 1440px;
    height: 672px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px;
    }

      .banner-section{
        position: absolute;
        width: 998px;
        height: 582px;
        left: 221px;
        right: 221px;
        top: 90px;
        bottom: 4506px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }



.banner-title{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
margin-top: 32px;
}
.banner-description{
text-align: center;
Font: Azeret Mono;
font-size: 16px;
font-weight: 400;
width: 845px;
height: 52px;
color: #0D1321;
opacity: 70%;
}
.btn{
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 10px;
    background-color: #0D1321;
    color: white;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* banner section end */

/* main section start */

.development{
    margin-top: 50px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 10px;
    background-color: #0D132105;
    width: 1140px;
    height: 1335px;
    border-radius: 10px;
}
.development-container{
    text-align: center;
    
}
.development-title{
    padding-top: 50px;
    font: Azeret Mono;
    font-weight: 800px;
    font-size: 32px;
}
.development-description{
   padding-left: 97px;
   padding-right: 97px;
   text-align: center;
   margin-left: 47px;
   margin-right: 47px;

}

.section{
    margin-left: 97px;
    margin-right: 97px;
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
 .section-container{
    padding: 48px 48px;
    display: flex;
    justify-content: space-between;
 }
 .section-container-div1{
    padding-right: 110px;
 }
.section-container-title{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: bolder;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.secondary-btn{
position: static;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
font-size: 20px;
font-weight: 600;
}

/* section 2 start */
.section-container-div2{
    padding-left: 32px;
    padding-right: 101px;
}
/* section 2 ends */
.section-container-div3{
    padding-right: 140px;
}

/* inspiration section start */
.inspiration-section{
    width: 1140px;
    height: 677px;
    margin-top: 0px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* inspiration section ends */

/* My Current Target start */

.my-current-target-section{
    width: 1140px;
    height: 550px;
    margin-top: 0px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.technolohy{
    display: flex;
}
.html-section{
    background: rgba(255, 76, 30, 0.05);
}
.css-section{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.js-section{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.secondary-technology{
   width: 264px;
  height: 250px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  border-radius: 16px;
}
.secondary-technology-description{
    font-size: 12px;
    opacity: 70px;
}

/* My Current Target ends */

/* support section start */

.support-section { 
    background-image: url("./assets/handshake.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 1140px;
    height: 350px;
    margin-top: 0px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-radius: 16px;
    color: #0D1321;
}
.support-section-title{
    color: rgb(255, 255, 255);
   font-family: Azeret Mono;
   font-size: 32px;
   font-weight: 700;
   line-height: 36px;
   letter-spacing: 0%;
   text-align: center;
}
.support-section-desc{
    color: rgb(255, 255, 255);
}
.input-section{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.input-section input {
    width: 548px;
    height: 47px;
    border-radius: 10px;
    padding-left: 15px;
    margin-right: 10px;
}
.secondary-bttn{
position: static;
width: 80px;
height: 15px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 10px 17px 10px;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 16px;
border-radius: 8px;
background: rgb(255, 255, 255);
border: none;
}
.bttn{
    border: none;
}
/* main section ends */

/* footer section starts*/
.footer-section{
    width: 1140px;
    height: 50px;
    margin-top: 30px;
    margin-left: 148px;
    margin-right: 52px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: rgba(13, 19, 33, 0.03);
    padding: 10px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ul li {
    list-style: none;
    margin-right: 20px;
}

footer li a {
    text-decoration: none;
}
footer ul{
    display: flex;
}


/* footer section ends*/
